.form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.label {
    padding: 10px;
}

.input{
    margin: 5px;
}

.submit {
    margin-top: 10px;
    width: 100%;
}